SECRET_KEY=SECRET_KEY
DATABASE_HOST=DATABASE_HOST
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_NAME=DATABASE_NAME
DATABASE_PORT=DATABASE_PORT
DEBUG=DEBUG
STRIPE_PUBLIC_KEY=pk_XXXXX
STRIPE_SECRET_KEY=sk_XXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXX